#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: Arial;
}

.quote-title {
  font-size: 4em;
}

.quote-subtitle {
  font-size: 1.5em;
  color: rgb(156, 156, 156);
}
